/* Estilos para formulario */
.form-group {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 25rem;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 3px outset #3D435A;
  border-radius: 7px;
  background-color: #2F3644;
  padding:1.875rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  

}
/* Estilos para títulos */
h1{
  margin-top: 0;
  text-align: left;
  font-size: 1.5625rem;
  font-weight: bold;
  color: #B6C4ED;
  margin-left: 10px;
  
 }
/* Estilos para mensajes de error */
.error{
  color:#DB5A5A;
  text-decoration: none;
  position: fixed;
  font-weight: normal;
  margin-left: 10px;
}

/* Estilos para entradas válidas */
.input-valid{
  border: 3x solid #4ECA64;
  border-radius: 5px;
  background-image: url(images/success-icon.svg);
  background-repeat: no-repeat;
  background-position: 99%;
  display: none;
  height: auto;
  width: auto;
}
/* Estilos para entradas no válidas */
.input-invalid {
  border: 3px solid #DB5A5A;
  border-radius: 5px;
  background-image: url(images/error-icon.svg);
  background-repeat: no-repeat;
  background-position: 99%;
  display: none;
  height: auto;
  width: auto;
}
/* Estilos para entradas de texto, correo electrónico y contraseña */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="password2"]{
  padding: 0.5rem;
  font-size: 1rem;
  width: 95%;
  height: 45px;
  position: relative;
  box-sizing: border-box;
  margin-top: 4px;
  margin-left: 10px;
  
}
/* Estilos para el fondo y el color de la página */
html{
  background-color:#242933;
  color: #7F88A8;
}

/* Estilos para el botón de validación */
#validateButton{
  background-color: #6C63FF;
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  border: 1px solid black; 
  border-radius: 7px;
  font-size: 0.8125rem;
  width: 95%;
  height: 3.125rem;
  box-sizing: border-box;
  font-size: 'Poppins', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 8px;
}
/* Estilos para el div del form */
div.form-group{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.space{
  height: 8px;
  clear: both;
}
.space2{
  height: 10px;
  clear: both;
}
label{
  margin-left: 10px;
}